:root {
  --gray-nurse: #F3F4F3;
  --east-side: #9783C7;
  --cerise: #CB2193;
  --tapestry: #BE6B93;
  --revolver: #271B36;
  --camouflage-green: #728464;
  --tango: #ef742c;
  --pomegranat: #f44336;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--gray-nurse);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
